@model Mercado.Models.Product
@{
    ViewData["Title"] = "Novo Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container form-config">

    <h4>@ViewData["Title"]</h4>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input id="floatingInput" asp-for="Name" class="form-control" placeholder="Name" />
            <label for="floatingInput" asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input id="floatingInput" asp-for="Quantity" class="form-control" placeholder="Quantity" />
            <label for="floatingInput" asp-for="Quantity"></label>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input id="floatingInput" asp-for="Price" class="form-control" placeholder="Price" />
            <label for="floatingInput" asp-for="Price" ></label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" asp-for="ProviderId">
                
                @foreach (var item in ViewData["Provider"] as List<Mercado.Models.Provider>)
            {
                    <option value="@item.Id">@item.Company</option>
            }
            </select>
            <label for="floatingSelect" asp-for="Fornecedor" class="control-label"></label>
            <span asp-validation-for="ProviderId" class="text-danger"></span>

        </div>
        <div class="form-group">
            <button type="submit" value="Create" class="custom-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M18.9 36 7.4 24.5 9.85 22.05 18.9 31.1 38.1 11.9 40.55 14.35Z"/></svg>
                Criar
            </button>
        </div>
    </form>

    <div>
        <a class="back-btn" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 20.1 3.9 12 12 3.9 13.625 5.5 8.275 10.85H20.1V13.15H8.275L13.625 18.5Z"/></svg>
            Voltar para lista
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
