@{
    ViewData["Title"] = "Home Page";
}

<div class="container account text-center">
    <h1 class="display-4">Projeto Mercado</h1>
    <p>Trabalho feito em .Net Core 5 + IdentityFramework</div></p>
</div>
